In [30]:
import sqlite3 as db
import pandas as pd
from calendar import monthrange
from random import randint

conn = db.connect('burgueria.db')
cursor = conn.cursor()

In [31]:


# Conectando ao banco de dados
conexao = sqlite3.connect('lanchonete.db')
cursor = conexao.cursor()

# Criando a tabela CadastroPedido
cursor.execute('''
    CREATE TABLE IF NOT EXISTS CadastroPedido (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        telefone TEXT,
        endereco TEXT,
        email TEXT
    )
''')

# Salvando as alterações e fechando a conexão
conexao.commit()
conexao.close()

In [32]:


# Conectando ao banco de dados
conexao = sqlite3.connect('lanchonete.db')
cursor = conexao.cursor()

# Criando a tabela Cardapio
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Cardapio (
        idItem INTEGER PRIMARY KEY AUTOINCREMENT,
        nome VARCHAR(50),
        descricao VARCHAR(100),
        preco DECIMAL(10,2)
    )
''')

# Salvando as alterações e fechando a conexão
conexao.commit()
conexao.close()

In [33]:
import sqlite3

# Conectando ao banco de dados
conexao = sqlite3.connect('lanchonete.db')
cursor = conexao.cursor()

# Criando a tabela Compra
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Compra (
        idCompra INTEGER PRIMARY KEY AUTOINCREMENT,
        idCliente INTEGER,
        idItem INTEGER,
        dataCompra DATE,
        valorTotal DECIMAL(10,2),
        FOREIGN KEY (idCliente) REFERENCES Cliente(idCliente),
        FOREIGN KEY (idItem) REFERENCES Cardapio(idItem)
    )
''')

# Salvando as alterações e fechando a conexão
conexao.commit()
conexao.close()

In [34]:
import sqlite3

# Conectando ao banco de dados
conexao = sqlite3.connect('lanchonete.db')
cursor = conexao.cursor()

# Inserindo dados na tabela Cliente
dados_cliente = [
    ('João Silva', '(81) 98888-8888', 'joao.silva@gmail.com', 'Rua A, 123'),
    ('Maria Santos', '(81) 97777-7777', 'maria.santos@gmail.com', 'Rua B, 456'),
    ('José Souza', '(81) 96666-6666', 'jose.souza@gmail.com', 'Rua C, 789'),
    ('Ana Rodrigues', '(81) 95555-5555', 'ana.rodrigues@gmail.com', 'Rua D, 012'),
    ('Pedro Lima', '(81) 94444-4444', 'pedro.lima@gmail.com', 'Rua E, 345'),
    ('Carla Mendes', '(81) 93333-3333', 'carla.mendes@gmail.com', 'Rua F, 678'),
    ('Lucas Oliveira', '(81) 92222-2222', 'lucas.oliveira@gmail.com', 'Rua G, 901'),
    ('Fernanda Costa', '(81) 91111-1111', 'fernanda.costa@gmail.com', 'Rua H, 234'),
    ('Gustavo Rocha', '(81) 90000-0000', 'gustavo.rocha@gmail.com', 'Rua I, 567'),
    ('Juliana Alves', '(81) 98888-1111', 'juliana.alves@gmail.com', 'Rua J, 890')
]

# Utilizando uma transação para melhorar a performance
cursor.execute('BEGIN TRANSACTION')

try:
    # Inserindo cada registro de cliente
    for cliente in dados_cliente:
        cursor.execute('''
            INSERT INTO Cliente (nome, telefone, email, endereco)
            VALUES (?, ?, ?, ?)
        ''', cliente)

    # Efetuando o commit da transação
    conexao.commit()
    print("Registros de clientes inseridos com sucesso.")
except Exception as e:
    # Em caso de erro, desfaz a transação
    conexao.rollback()
    print("Ocorreu um erro ao inserir os registros de clientes:", str(e))
finally:
    # Fechando a conexão com o banco de dados
    conexao.close()

Ocorreu um erro ao inserir os registros de clientes: no such table: Cliente

In [35]:
import sqlite3

# Conectando ao banco de dados
conexao = sqlite3.connect('lanchonete.db')
cursor = conexao.cursor()

# Inserindo dados na tabela Cardapio
dados_cardapio = [
    ('X-Burguer', 'Pão, carne, queijo, alface, tomate e maionese', 15.90),
    ('X-Salada', 'Pão, carne, queijo, alface, tomate, cebola e maionese', 18.90),
    ('X-Bacon', 'Pão, carne, queijo, alface, tomate, bacon e maionese', 20.90),
    ('X-Frango', 'Pão, frango, queijo, alface, tomate e maionese', 17.90),
    ('X-Egg', 'Pão, carne, queijo, alface, tomate, ovo e maionese', 19.90),
    ('X-Tudo', 'Pão, carne, queijo, alface, tomate, cebola, bacon, ovo e maionese', 25.90),
    ('CheeseBurguer', 'Pão, carne e queijo', 12.90),
    ('Hot Dog', 'Pão, salsicha, queijo, milho, batata palha e molho especial', 14.90),
    ('Beirute', 'Pão sírio, carne, queijo, alface, tomate e maionese', 21.90),
    ('Churrasco', 'Pão, carne, queijo, alface, tomate e molho de churrasco', 22.90)
]

for item in dados_cardapio:
    cursor.execute('''
        INSERT INTO Cardapio (nome, descricao, preco)
        VALUES (?, ?, ?)
    ''', item)

# Salvando as alterações e fechando a conexão
conexao.commit()
conexao.close()

In [36]:

import sqlite3

# Conectando ao banco de dados
conexao = sqlite3.connect('lanchonete.db')
cursor = conexao.cursor()

# Inserindo dados na tabela Compra
dados_compra = [
    (1, 1, '2022-01-01', 15.90),
    (2, 2, '2022-01-02', 18.90),
    (3, 3, '2022-01-03', 20.90),
    (4, 4, '2022-01-04', 17.90),
    (5, 5, '2022-01-05', 19.90),
    (6, 6, '2022-01-06', 25.90),
    (7, 7, '2022-01-07', 12.90),
    (8, 8, '2022-01-08', 14.90),
    (9, 9, '2022-01-09', 21.90),
    (10, 10, '2022-01-10', 22.90)
]

# Utilizando uma transação para melhorar a performance
cursor.execute('BEGIN TRANSACTION')

try:
    # Inserindo cada registro de compra
    for item in dados_compra:
        cursor.execute('''
            INSERT INTO Compra (idCliente, idItem, dataCompra, valorTotal)
            VALUES (?, ?, ?, ?)
        ''', item)

    # Efetuando o commit da transação
    conexao.commit()
    print("Registros de compras inseridos com sucesso.")

    # Consulta: Compra por ID com informações de Cliente
    cursor.execute('''
        SELECT Compra.idCompra, Compra.dataCompra, Cliente.nome
        FROM Compra
        INNER JOIN Cliente ON Compra.idCliente = Cliente.idCliente
    ''')
    compra_cliente = cursor.fetchall()
    print("\nConsulta: Compra por ID com informações de Cliente")
    for item in compra_cliente:
        print(item)

    # Consulta: Compra por ID com informações de Cardapio
    cursor.execute('''
        SELECT Compra.idCompra, Compra.valorTotal, Cardapio.nome
        FROM Compra
        LEFT JOIN Cardapio ON Compra.idItem = Cardapio.idItem
    ''')
    compra_cardapio = cursor.fetchall()
    print("\nConsulta: Compra por ID com informações de Cardapio")
    for item in compra_cardapio:
        print(item)

    # Consulta: Compra com ID maior que 5
    cursor.execute('''
        SELECT * FROM Compra WHERE idCompra > 5
    ''')
    compra_id_maior_5 = cursor.fetchall()
    print("\nConsulta: Compra com ID maior que 5")
    for item in compra_id_maior_5:
        print(item)

except Exception as e:
    # Em caso de erro, desfaz a transação
    conexao.rollback()
    print("Ocorreu um erro ao inserir os registros de compras:", str(e))
finally:
    # Fechando a conexão com o banco de dados
    conexao.close()

Registros de compras inseridos com sucesso.
Ocorreu um erro ao inserir os registros de compras: no such table: Cliente